astana_guide_ai/data/processed_pois.json filter=lfs diff=lfs merge=lfs -text
astana_guide_ai/data/embeddings.npy filter=lfs diff=lfs merge=lfs -text
astana_guide_ai/data/faiss.index filter=lfs diff=lfs merge=lfs -text
