# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.DS_Store # macOS files
Thumbs.db # Windows files

# IDEs
.idea/ # PyCharm
.vscode/ # VSCode
*.sublime-project
*.sublime-workspace

# Database
*.sqlite3
*.db